<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1144368098-6rvtltsaesuubj38tuv8fc2iarq7ke51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1144368098-6rvtltsaesuubj38tuv8fc2iarq7ke51</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1144368098-oikl9gv6che8n76sh231aiehqrtfecak.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzMm0t_OkNNf4LdEJHISpme2R84Vhsp4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1144368098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatbot</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f7807</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f7807.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1144368098:ios:ee249f16a90ab9cea4e7bb</string>
</dict>
</plist>